

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
width : 100%;
height : 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #222;
    position: relative;
    cursor: none;
}

section{
    width: 100%;
    min-height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #111;
}

.spotlight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px   ;
    margin-top: 20px;
}

.spotlight h1{
  background: linear-gradient(to right,#3B82F6,#8B5CF6,#EC4899);
  -webkit-background-clip: text;   /* ⭐ add this */
  -webkit-text-fill-color: transparent; 

}

.carts{
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  
    gap: 20px;
}


.cart{
 width: 300px;
 height: 200px;
 background-color: #222;

 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 gap: 10px;
 
 
}

.cart h4{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.cart p{
    font-size: 15px;
    text-align: center;
}

:root{
    --x:200px;
    --y:200px;
}


.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
   background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0.073),rgba(0, 0, 0, 0.970));
}

.hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   gap: 20px;
   background-color: #111;
}

.hero h1{
    font-family: monospace;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(36, 169, 36, 0.886);
}

.hero h2{
     font-family: monospace;
    font-size: 50px;
     text-transform: uppercase;
   background: linear-gradient(to right,#3B82F6,#8B5CF6,#EC4899);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.hero p{
    color: rgb(37, 180, 37);
    font-size: 22px;
    font-weight: 600;
}